openapi: 3.0.3
info:
  title: Trollspace API
  description: |
    REST API for managing your personal knowledge base, productivity tools, and travel data.

    ### Features
    - **RESTful CRUD** — All content types
    - **AI Agent** — Natural language operations
    - **Authentication** — API key with rate limiting
    - **Analytics** — Usage tracking

    ### Content Resources
    - **Snippets** — Code references
    - **Nuggets** — Knowledge notes
    - **Todos** — Task lists
    - **Ideas** — Project ideas
    - **Tools** — Software resources
    - **Repos** — Git repositories

    ### Data & Services
    - **Travel** — Locations & experiences
    - **Countries** — Reference data
    - **Cities** — Reference data
    - **Upload** — File storage
    - **Agent** — AI operations

    ---

    **Rate Limits:** 100 requests/hour per API key • File uploads limited to 50MB

  version: 1.0.0
  contact:
    name: Trollspace Support
    url: https://app.trollefsen.com
  license:
    name: Proprietary

servers:
  - url: https://api.trollefsen.com
    description: REST API
  - url: https://api.trollefsen.com/agent
    description: Agent API (natural language)
  - url: https://api.trollefsen.com/upload
    description: File Upload API

security:
  - BearerAuth: []

tags:
  - name: Snippets
    description: Code snippets and quick references
  - name: Nuggets
    description: Knowledge notes and insights
  - name: Todos
    description: Task management lists
  - name: Ideas
    description: Project and content ideas
  - name: Tools
    description: Software tools and resources
  - name: Repos
    description: Git repositories and projects
  - name: Travel
    description: Travel locations and experiences
  - name: Countries
    description: Read-only country reference data
  - name: Cities
    description: Read-only city reference data
  - name: File Upload
    description: Upload files to Google Drive
  - name: Agent
    description: Natural language processing API
  - name: Subscriptions
    description: Recurring subscription management
  - name: Subscription Payments
    description: Subscription payment history

paths:
  # ============================================
  # SNIPPETS
  # ============================================
  /v1/snippets:
    get:
      tags: [Snippets]
      summary: List all snippets
      description: Returns a list of all code snippets for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of snippets to return
      responses:
        '200':
          description: List of snippets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      tags: [Snippets]
      summary: Create a snippet
      description: Create a new code snippet.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnippetCreate'
      responses:
        '201':
          description: Snippet created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/snippets/{id}:
    get:
      tags: [Snippets]
      summary: Get a snippet
      description: Returns a single snippet by ID.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Snippet details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Snippets]
      summary: Update a snippet
      description: Update an existing snippet.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SnippetUpdate'
      responses:
        '200':
          description: Snippet updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SnippetResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Snippets]
      summary: Delete a snippet
      description: Soft delete a snippet.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Snippet deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # NUGGETS
  # ============================================
  /v1/nuggets:
    get:
      tags: [Nuggets]
      summary: List all nuggets
      description: Returns a list of all knowledge nuggets for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of nuggets to return
      responses:
        '200':
          description: List of nuggets
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NuggetListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'

    post:
      tags: [Nuggets]
      summary: Create a nugget
      description: Create a new knowledge nugget.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NuggetCreate'
      responses:
        '201':
          description: Nugget created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NuggetResponse'
        '400':
          $ref: '#/components/responses/BadRequest'

  /v1/nuggets/{id}:
    get:
      tags: [Nuggets]
      summary: Get a nugget
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Nugget details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NuggetResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Nuggets]
      summary: Update a nugget
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NuggetUpdate'
      responses:
        '200':
          description: Nugget updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NuggetResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Nuggets]
      summary: Delete a nugget
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Nugget deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # TODOS
  # ============================================
  /v1/todos:
    get:
      tags: [Todos]
      summary: List all todos
      description: Returns a list of all todo lists for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of todos to return
      responses:
        '200':
          description: List of todos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoListResponse'

    post:
      tags: [Todos]
      summary: Create a todo list
      description: Create a new todo list.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TodoCreate'
      responses:
        '201':
          description: Todo created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'

  /v1/todos/{id}:
    get:
      tags: [Todos]
      summary: Get a todo list
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Todo details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Todos]
      summary: Update a todo list
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TodoUpdate'
      responses:
        '200':
          description: Todo updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TodoResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Todos]
      summary: Delete a todo list
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Todo deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # IDEAS
  # ============================================
  /v1/ideas:
    get:
      tags: [Ideas]
      summary: List all ideas
      description: Returns a list of all ideas for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of ideas to return
      responses:
        '200':
          description: List of ideas
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeaListResponse'

    post:
      tags: [Ideas]
      summary: Create an idea
      description: Create a new idea.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdeaCreate'
      responses:
        '201':
          description: Idea created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeaResponse'

  /v1/ideas/{id}:
    get:
      tags: [Ideas]
      summary: Get an idea
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Idea details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeaResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Ideas]
      summary: Update an idea
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/IdeaUpdate'
      responses:
        '200':
          description: Idea updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IdeaResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Ideas]
      summary: Delete an idea
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Idea deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # TOOLS
  # ============================================
  /v1/tools:
    get:
      tags: [Tools]
      summary: List all tools
      description: Returns a list of all tools for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of tools to return
      responses:
        '200':
          description: List of tools
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolListResponse'

    post:
      tags: [Tools]
      summary: Create a tool
      description: Create a new tool entry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolCreate'
      responses:
        '201':
          description: Tool created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolResponse'

  /v1/tools/{id}:
    get:
      tags: [Tools]
      summary: Get a tool
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Tool details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Tools]
      summary: Update a tool
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ToolUpdate'
      responses:
        '200':
          description: Tool updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ToolResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Tools]
      summary: Delete a tool
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Tool deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # REPOS
  # ============================================
  /v1/repos:
    get:
      tags: [Repos]
      summary: List all repos
      description: Returns a list of all repositories for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of repos to return
      responses:
        '200':
          description: List of repos
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoListResponse'

    post:
      tags: [Repos]
      summary: Create a repo
      description: Create a new repository entry.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoCreate'
      responses:
        '201':
          description: Repo created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoResponse'

  /v1/repos/{id}:
    get:
      tags: [Repos]
      summary: Get a repo
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Repo details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Repos]
      summary: Update a repo
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RepoUpdate'
      responses:
        '200':
          description: Repo updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RepoResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Repos]
      summary: Delete a repo
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Repo deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # TRAVEL
  # ============================================
  /v1/travel:
    get:
      tags: [Travel]
      summary: List travel locations
      description: Returns a list of all travel locations for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 100
            maximum: 200
          description: Maximum number of locations to return
        - name: status
          in: query
          schema:
            type: string
            enum: [visited, want_to_visit, lived]
          description: Filter by status
        - name: location_type
          in: query
          schema:
            type: string
            enum: [country, city]
          description: Filter by location type
      responses:
        '200':
          description: List of travel locations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelListResponse'

    post:
      tags: [Travel]
      summary: Add a travel location
      description: Add a new travel location. Use the Countries or Cities endpoints to get the location_id first.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelCreate'
      responses:
        '201':
          description: Travel location added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelResponse'

  /v1/travel/{id}:
    get:
      tags: [Travel]
      summary: Get a travel location
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Travel location details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Travel]
      summary: Update a travel location
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TravelUpdate'
      responses:
        '200':
          description: Travel location updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TravelResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Travel]
      summary: Remove a travel location
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Travel location removed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # COUNTRIES (Read-only)
  # ============================================
  /v1/countries:
    get:
      tags: [Countries]
      summary: List countries
      description: Returns a list of all countries. This is read-only reference data.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 200
            maximum: 300
          description: Maximum number of countries to return
        - name: search
          in: query
          schema:
            type: string
          description: Search by country name
        - name: continent
          in: query
          schema:
            type: string
          description: Filter by continent
      responses:
        '200':
          description: List of countries
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryListResponse'

  /v1/countries/{id}:
    get:
      tags: [Countries]
      summary: Get a country
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Country details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CountryResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # CITIES (Read-only)
  # ============================================
  /v1/cities:
    get:
      tags: [Cities]
      summary: List cities
      description: Returns a list of cities. This is read-only reference data.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 200
            maximum: 500
          description: Maximum number of cities to return
        - name: search
          in: query
          schema:
            type: string
          description: Search by city name
        - name: country_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by country ID
      responses:
        '200':
          description: List of cities
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityListResponse'

  /v1/cities/{id}:
    get:
      tags: [Cities]
      summary: Get a city
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: City details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CityResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # FILE UPLOAD (different server)
  # ============================================
  /upload:
    post:
      tags: [File Upload]
      summary: Upload file to Google Drive
      description: |
        Upload a file directly to your Google Drive.

        **Prerequisites:**
        - Google account must be connected in the Integrations page
        - Google Drive permissions granted during OAuth

        **Limits:**
        - Maximum file size: 50MB
        - Rate limited per API key

        **Note:** This endpoint uses a different server URL than the REST API.
      servers:
        - url: https://api.trollefsen.com/upload
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [file]
              properties:
                file:
                  type: string
                  format: binary
                  description: The file to upload (max 50MB)
                fileName:
                  type: string
                  description: Custom file name (defaults to original)
                  example: "My Document.pdf"
                folderId:
                  type: string
                  description: Google Drive folder ID (defaults to root)
                  example: "1aBcDeFgHiJkLmNoPqRsTuVwXyZ"
                mimeType:
                  type: string
                  description: MIME type (auto-detected if not provided)
                  example: "application/pdf"
      responses:
        '200':
          description: File uploaded successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FileUploadResponse'
        '400':
          description: Bad request - No file provided or file too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '403':
          description: Google account not connected
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ============================================
  # AGENT (different server)
  # ============================================
  /agent:
    post:
      tags: [Agent]
      summary: Natural language API
      description: |
        Send natural language requests to perform complex operations.

        The agent can understand context and perform multi-step operations like:
        - "Create a snippet for React hooks"
        - "Add France as a country I want to visit"
        - "Delete my old Python notes"

        **Note:** This endpoint uses a different server URL than the REST API.
      servers:
        - url: https://api.trollefsen.com/agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [message]
              properties:
                message:
                  type: string
                  description: Natural language request
                  example: "Create a new snippet called 'React Hooks' with some example code"
      responses:
        '200':
          description: Agent response
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  data:
                    type: object
                    properties:
                      response:
                        type: string
                        description: Agent's natural language response
                        example: "I've created a new snippet called 'React Hooks'. You can find it in your Snippets page."
                      actions:
                        type: array
                        description: Actions performed by the agent
                        items:
                          type: object
                          properties:
                            tool:
                              type: string
                              example: "createSnippet"
                            result:
                              type: object
                  meta:
                    $ref: '#/components/schemas/ResponseMeta'
        '400':
          $ref: '#/components/responses/BadRequest'
        '429':
          $ref: '#/components/responses/RateLimited'

  # ============================================
  # SUBSCRIPTIONS
  # ============================================
  /v1/subscriptions:
    get:
      tags: [Subscriptions]
      summary: List subscriptions
      description: Returns a list of all subscriptions for the authenticated user.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of subscriptions to return
        - name: status
          in: query
          schema:
            type: string
            enum: [active, cancelled]
          description: Filter by subscription status
        - name: category
          in: query
          schema:
            type: string
          description: Filter by category
        - name: usage_type
          in: query
          schema:
            type: string
            enum: [personal, work]
          description: Filter by usage type
        - name: billing_cycle
          in: query
          schema:
            type: string
            enum: [monthly, yearly]
          description: Filter by billing cycle
      responses:
        '200':
          description: List of subscriptions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      tags: [Subscriptions]
      summary: Create a subscription
      description: Create a new recurring subscription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionCreate'
            example:
              name: "Netflix"
              amount: 169
              currency: "NOK"
              billing_cycle: "monthly"
              category: "Entertainment"
              next_billing_date: "2025-02-15"
              usage_type: "personal"
      responses:
        '201':
          description: Subscription created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/subscriptions/{id}:
    get:
      tags: [Subscriptions]
      summary: Get a subscription
      description: Returns a single subscription by ID.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Subscription details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Subscriptions]
      summary: Update a subscription
      description: Update an existing subscription.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionUpdate'
      responses:
        '200':
          description: Subscription updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Subscriptions]
      summary: Delete a subscription
      description: Soft delete a subscription. Payment history is preserved.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Subscription deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{id}/mark-paid:
    post:
      tags: [Subscriptions]
      summary: Mark subscription as paid
      description: |
        Records a payment for the current billing period and advances the next billing date.
        Uses the most recent payment's amount/currency if different from the subscription's base values.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment recorded and billing date advanced
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MarkPaidResponse'
        '400':
          description: No billing date set for this subscription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{id}/backfill:
    post:
      tags: [Subscriptions]
      summary: Backfill payment history
      description: |
        Generate historical payment records for past billing periods.
        Useful for importing subscription history or fixing gaps in payment tracking.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BackfillRequest'
            example:
              periods: ["2024-01", "2024-02", "2024-03"]
              amount: 169
              currency: "NOK"
              usage_type: "personal"
              overwrite_existing: false
      responses:
        '200':
          description: Backfill completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BackfillResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  /v1/subscriptions/{id}/payments:
    get:
      tags: [Subscriptions]
      summary: List payments for a subscription
      description: Returns all payment records for a specific subscription.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of payments to return
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPaymentListResponse'
        '404':
          $ref: '#/components/responses/NotFound'

  # ============================================
  # SUBSCRIPTION PAYMENTS
  # ============================================
  /v1/subscription-payments:
    get:
      tags: [Subscription Payments]
      summary: List all subscription payments
      description: Returns payment records across all subscriptions.
      parameters:
        - name: limit
          in: query
          schema:
            type: integer
            default: 50
            maximum: 100
          description: Maximum number of payments to return
        - name: subscription_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by subscription ID
        - name: status
          in: query
          schema:
            type: string
            enum: [paid, pending, skipped]
          description: Filter by payment status
        - name: usage_type
          in: query
          schema:
            type: string
            enum: [personal, work]
          description: Filter by usage type
        - name: source
          in: query
          schema:
            type: string
            enum: [manual, backfilled, mark_paid, monthly_generation]
          description: Filter by payment source
        - name: date_from
          in: query
          schema:
            type: string
            format: date
          description: Filter payments from this date (inclusive)
        - name: date_to
          in: query
          schema:
            type: string
            format: date
          description: Filter payments up to this date (inclusive)
      responses:
        '200':
          description: List of payments
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPaymentListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'

    post:
      tags: [Subscription Payments]
      summary: Create a payment record
      description: Manually create a payment record for a subscription.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPaymentCreate'
            example:
              subscription_id: "123e4567-e89b-12d3-a456-426614174000"
              payment_date: "2025-01-15"
              amount: 169
              currency: "NOK"
              status: "paid"
      responses:
        '201':
          description: Payment created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPaymentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /v1/subscription-payments/{id}:
    get:
      tags: [Subscription Payments]
      summary: Get a payment
      description: Returns a single payment record by ID.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPaymentResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      tags: [Subscription Payments]
      summary: Update a payment
      description: Update an existing payment record.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubscriptionPaymentUpdate'
      responses:
        '200':
          description: Payment updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SubscriptionPaymentResponse'
        '404':
          $ref: '#/components/responses/NotFound'

    delete:
      tags: [Subscription Payments]
      summary: Delete a payment
      description: Permanently deletes a payment record.
      parameters:
        - $ref: '#/components/parameters/ResourceId'
      responses:
        '200':
          description: Payment deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SuccessResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: 'API key in format: Bearer troll_usr_your_key_here'

  parameters:
    ResourceId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Resource ID

  responses:
    Unauthorized:
      description: Unauthorized - Invalid or missing API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Invalid or missing API key"
            meta:
              timestamp: "2025-01-01T00:00:00.000Z"

    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Resource not found"
            meta:
              timestamp: "2025-01-01T00:00:00.000Z"

    BadRequest:
      description: Bad request - Invalid input
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

    RateLimited:
      description: Rate limit exceeded
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
          example:
            success: false
            error: "Rate limit exceeded: 100 requests per hour. Try again in 23 minutes."
            meta:
              timestamp: "2025-01-01T00:00:00.000Z"

  schemas:
    ResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2025-01-01T00:00:00.000Z"

    SuccessResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            message:
              type: string
              example: "Operation completed successfully"
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Error message"
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # SNIPPET SCHEMAS
    # ============================================
    Snippet:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "React useEffect Hook"
        description:
          type: string
          example: "Example of useEffect with cleanup"
        code:
          type: string
          example: "useEffect(() => {\n  // effect\n  return () => cleanup();\n}, [deps]);"
        language:
          type: string
          example: "typescript"
        tags:
          type: array
          items:
            type: string
          example: ["react", "hooks"]
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SnippetCreate:
      type: object
      required: [name, description, code, language]
      properties:
        name:
          type: string
          example: "React useEffect Hook"
        description:
          type: string
          example: "Example of useEffect with cleanup"
        code:
          type: string
          example: "useEffect(() => {\n  // effect\n  return () => cleanup();\n}, [deps]);"
        language:
          type: string
          example: "typescript"
        tags:
          type: array
          items:
            type: string
          example: ["react", "hooks"]

    SnippetUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        code:
          type: string
        language:
          type: string
        tags:
          type: array
          items:
            type: string

    SnippetResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            snippet:
              $ref: '#/components/schemas/Snippet'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    SnippetListResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            count:
              type: integer
              example: 25
            items:
              type: array
              items:
                $ref: '#/components/schemas/Snippet'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # NUGGET SCHEMAS
    # ============================================
    Nugget:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "TypeScript Best Practices"
        description:
          type: string
          example: "Notes on TypeScript patterns"
        content:
          type: string
          example: "Always use strict mode..."
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    NuggetCreate:
      type: object
      required: [name, description, content]
      properties:
        name:
          type: string
        description:
          type: string
        content:
          type: string

    NuggetUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        content:
          type: string

    NuggetResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            nugget:
              $ref: '#/components/schemas/Nugget'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    NuggetListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Nugget'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # TODO SCHEMAS
    # ============================================
    Todo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Weekly Tasks"
        description:
          type: string
          example: "Tasks for this week"
        content:
          type: string
          example: "- [ ] Review PRs\n- [ ] Update docs"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    TodoCreate:
      type: object
      required: [name, description, content]
      properties:
        name:
          type: string
        description:
          type: string
        content:
          type: string

    TodoUpdate:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
        content:
          type: string

    TodoResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            todo:
              $ref: '#/components/schemas/Todo'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    TodoListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Todo'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # IDEA SCHEMAS
    # ============================================
    Idea:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "App Redesign"
        content:
          type: string
          example: "Ideas for improving the UI..."
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    IdeaCreate:
      type: object
      required: [name, content]
      properties:
        name:
          type: string
        content:
          type: string

    IdeaUpdate:
      type: object
      properties:
        name:
          type: string
        content:
          type: string

    IdeaResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            idea:
              $ref: '#/components/schemas/Idea'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    IdeaListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Idea'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # TOOL SCHEMAS
    # ============================================
    Tool:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "VS Code"
        url:
          type: string
          format: uri
          example: "https://code.visualstudio.com"
        category:
          type: string
          example: "Development"
        description:
          type: string
          example: "Code editor by Microsoft"
        rating:
          type: integer
          minimum: 1
          maximum: 5
          example: 5
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ToolCreate:
      type: object
      required: [name]
      properties:
        name:
          type: string
        url:
          type: string
          format: uri
        category:
          type: string
        description:
          type: string
        rating:
          type: integer
          minimum: 1
          maximum: 5

    ToolUpdate:
      type: object
      properties:
        name:
          type: string
        url:
          type: string
        category:
          type: string
        description:
          type: string
        rating:
          type: integer

    ToolResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            tool:
              $ref: '#/components/schemas/Tool'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ToolListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Tool'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # REPO SCHEMAS
    # ============================================
    Repo:
      type: object
      properties:
        id:
          type: string
          format: uuid
        title:
          type: string
          example: "my-awesome-project"
        summary:
          type: string
          example: "A brief description of the project"
        description_md:
          type: string
          example: "# My Project\n\nDetailed description..."
        repo_url:
          type: string
          format: uri
          example: "https://github.com/user/repo"
        source_type:
          type: string
          enum: [github, manual]
          example: "github"
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    RepoCreate:
      type: object
      required: [title]
      properties:
        title:
          type: string
        summary:
          type: string
        description_md:
          type: string
        repo_url:
          type: string
          format: uri
        source_type:
          type: string
          enum: [github, manual]
          default: manual

    RepoUpdate:
      type: object
      properties:
        title:
          type: string
        summary:
          type: string
        description_md:
          type: string
        repo_url:
          type: string
        source_type:
          type: string

    RepoResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            repo:
              $ref: '#/components/schemas/Repo'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    RepoListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Repo'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # TRAVEL SCHEMAS
    # ============================================
    TravelLocation:
      type: object
      properties:
        id:
          type: string
          format: uuid
        location_id:
          type: string
          format: uuid
          description: ID of the country or city
        location_type:
          type: string
          enum: [country, city]
        location_name:
          type: string
          description: Name of the country or city
          example: "France"
        status:
          type: string
          enum: [visited, want_to_visit, lived]
        date_from:
          type: string
          format: date
        date_to:
          type: string
          format: date
        notes:
          type: string
        is_favorite:
          type: boolean
        created_at:
          type: string
          format: date-time

    TravelCreate:
      type: object
      required: [location_id, location_type, status]
      properties:
        location_id:
          type: string
          format: uuid
          description: UUID from Countries or Cities endpoint
        location_type:
          type: string
          enum: [country, city]
        status:
          type: string
          enum: [visited, want_to_visit, lived]
        date_from:
          type: string
          format: date
          example: "2024-06-01"
        date_to:
          type: string
          format: date
          example: "2024-06-15"
        notes:
          type: string
          example: "Amazing trip!"
        is_favorite:
          type: boolean
          default: false

    TravelUpdate:
      type: object
      properties:
        status:
          type: string
          enum: [visited, want_to_visit, lived]
        date_from:
          type: string
          format: date
        date_to:
          type: string
          format: date
        notes:
          type: string
        is_favorite:
          type: boolean

    TravelResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            travel:
              $ref: '#/components/schemas/TravelLocation'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    TravelListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/TravelLocation'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # COUNTRY SCHEMAS
    # ============================================
    Country:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "France"
        iso_code:
          type: string
          example: "FR"
        continent:
          type: string
          example: "Europe"

    CountryResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            country:
              $ref: '#/components/schemas/Country'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    CountryListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Country'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # CITY SCHEMAS
    # ============================================
    City:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Paris"
        country_id:
          type: string
          format: uuid
        population_rank:
          type: integer
        countries:
          type: object
          properties:
            name:
              type: string
              example: "France"
            iso_code:
              type: string
              example: "FR"

    CityResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            city:
              $ref: '#/components/schemas/City'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    CityListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/City'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # FILE UPLOAD SCHEMAS
    # ============================================
    FileUploadResponse:
      type: object
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          properties:
            fileId:
              type: string
              description: Google Drive file ID
              example: "1aBcDeFgHiJkLmNoPqRsTuVwXyZ"
            fileName:
              type: string
              example: "My Document.pdf"
            mimeType:
              type: string
              example: "application/pdf"
            size:
              type: string
              description: File size in bytes
              example: "1024567"
            webViewLink:
              type: string
              format: uri
              description: Shareable view link
              example: "https://drive.google.com/file/d/1aBcDeFgHiJkLmNoPqRsTuVwXyZ/view"
            webContentLink:
              type: string
              format: uri
              description: Direct download link
              example: "https://drive.google.com/uc?id=1aBcDeFgHiJkLmNoPqRsTuVwXyZ&export=download"
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # SUBSCRIPTION SCHEMAS
    # ============================================
    Subscription:
      type: object
      properties:
        id:
          type: string
          format: uuid
        name:
          type: string
          example: "Netflix"
        category:
          type: string
          example: "Entertainment"
        amount:
          type: number
          example: 169
        currency:
          type: string
          example: "NOK"
        billing_cycle:
          type: string
          enum: [monthly, yearly]
          example: "monthly"
        start_date:
          type: string
          format: date
          example: "2023-01-15"
        next_billing_date:
          type: string
          format: date
          example: "2025-02-15"
        payment_method:
          type: string
          example: "Credit Card"
        usage_type:
          type: string
          enum: [personal, work]
          example: "personal"
        status:
          type: string
          enum: [active, cancelled]
          example: "active"
        cancelled_at:
          type: string
          format: date-time
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubscriptionCreate:
      type: object
      required: [name, amount, currency, billing_cycle]
      properties:
        name:
          type: string
          example: "Netflix"
        amount:
          type: number
          example: 169
        currency:
          type: string
          example: "NOK"
        billing_cycle:
          type: string
          enum: [monthly, yearly]
        category:
          type: string
          example: "Entertainment"
        start_date:
          type: string
          format: date
        next_billing_date:
          type: string
          format: date
        payment_method:
          type: string
        usage_type:
          type: string
          enum: [personal, work]
          default: personal

    SubscriptionUpdate:
      type: object
      properties:
        name:
          type: string
        category:
          type: string
        amount:
          type: number
        currency:
          type: string
        billing_cycle:
          type: string
          enum: [monthly, yearly]
        start_date:
          type: string
          format: date
        next_billing_date:
          type: string
          format: date
        payment_method:
          type: string
        usage_type:
          type: string
          enum: [personal, work]
        status:
          type: string
          enum: [active, cancelled]

    SubscriptionResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            subscription:
              $ref: '#/components/schemas/Subscription'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    SubscriptionListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/Subscription'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    MarkPaidResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            success:
              type: boolean
            message:
              type: string
              example: "Marked as paid for 2025-01-15"
            new_next_billing_date:
              type: string
              format: date
              example: "2025-02-15"
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    BackfillRequest:
      type: object
      required: [periods, amount, currency]
      properties:
        periods:
          type: array
          items:
            type: string
          description: "Array of billing periods. Monthly: YYYY-MM format, Yearly: YYYY format"
          example: ["2024-01", "2024-02", "2024-03"]
        amount:
          type: number
          example: 169
        currency:
          type: string
          example: "NOK"
        usage_type:
          type: string
          enum: [personal, work]
        overwrite_existing:
          type: boolean
          default: false
          description: "If true, overwrites existing payments for these periods"

    BackfillResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            success:
              type: boolean
            message:
              type: string
              example: "Backfill complete: 3 created, 0 overwritten, 1 skipped"
            created:
              type: integer
              example: 3
            overwritten:
              type: integer
              example: 0
            skipped:
              type: integer
              example: 1
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    # ============================================
    # SUBSCRIPTION PAYMENT SCHEMAS
    # ============================================
    SubscriptionPayment:
      type: object
      properties:
        id:
          type: string
          format: uuid
        subscription_id:
          type: string
          format: uuid
        payment_date:
          type: string
          format: date
          example: "2025-01-15"
        amount:
          type: number
          example: 169
        currency:
          type: string
          example: "NOK"
        status:
          type: string
          enum: [paid, pending, skipped]
          example: "paid"
        usage_type:
          type: string
          enum: [personal, work]
          example: "personal"
        source:
          type: string
          enum: [manual, backfilled, mark_paid, monthly_generation]
          example: "manual"
        notes:
          type: string
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    SubscriptionPaymentCreate:
      type: object
      required: [subscription_id, payment_date, amount, currency]
      properties:
        subscription_id:
          type: string
          format: uuid
        payment_date:
          type: string
          format: date
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum: [paid, pending, skipped]
          default: paid
        usage_type:
          type: string
          enum: [personal, work]
        notes:
          type: string

    SubscriptionPaymentUpdate:
      type: object
      properties:
        amount:
          type: number
        currency:
          type: string
        status:
          type: string
          enum: [paid, pending, skipped]
        usage_type:
          type: string
          enum: [personal, work]
        notes:
          type: string

    SubscriptionPaymentResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            payment:
              $ref: '#/components/schemas/SubscriptionPayment'
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    SubscriptionPaymentListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
          properties:
            count:
              type: integer
            items:
              type: array
              items:
                $ref: '#/components/schemas/SubscriptionPayment'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
